<div class="container">
    <h1 class="header-logo">
        <a href="{{ path('main_home') }}" title="Retour Home page">
            <img src="{{ asset('images/logo.png') }}" alt="Sortir logo">
        </a>
    </h1>
    <nav class="header-nav">
        <a href="{{ path('main_home') }}" title="Retourner à l'accueil">Accueil</a>
        {%  if app.user %}
        <a href="{{ path('app_sortie_index')}}" title="sorties">Sorties</a>
        <a href="{{ path('app_user_show', {'id': app.user.id})}}" title="Mon profil">Mon profil</a>
        <a href="{{ path('app_logout')}}" title="Se déconnecter">Se déconnecter</a>
        {% else %}
        <a href="{{ url('app_login')}}" title="Mon profil">Se connecter</a>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{path('app_user_index')}}" title="Gérer les utilisateurs">Utilisateurs (admin)</a>
        <a href="#" title="Gérer les villes">Villes (admin)</a>
        <a href="#" title="Gérer les campus">Campus (admin)</a>
        {%  endif %}

    </nav>
</div>