{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <h1>Profil de {{ user.pseudo }}</h1>
    {% if (success is not empty) %}
        {%  for message in success %}
            <h3>{{ message }}</h3>
        {%  endfor %}
    {% endif %}
    <div class="container">
        <section class="profil">
             {{ form_start(form) }}
                <div class="gridProfil">
                    <div class="gridContainer">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email) }}
                        {% if form.email.vars.errors|length > 0 %}
                            <div class="error-message">
                                {% for error in form.email.vars.errors %}
                                    <span class="error">{{ error.message }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            <span></span>
                        {% endif %}
                        {{ form_label(form.pseudo) }}
                        {{ form_widget(form.pseudo) }}
                        {% if form.pseudo.vars.errors|length > 0 %}
                            <div class="error-message">
                                {% for error in form.pseudo.vars.errors %}
                                    <span class="error">{{ error.message }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            <span></span>
                        {% endif %}

                        {{ form_label(form.nom) }}
                        {{ form_widget(form.nom) }}
                        {% if form.nom.vars.errors|length > 0 %}
                            <div class="error-message">
                                {% for error in form.nom.vars.errors %}
                                    <span class="error">{{ error.message }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            <span></span>
                        {% endif %}

                        {{ form_label(form.prenom) }}
                        {{ form_widget(form.prenom) }}
                        {% if form.prenom.vars.errors|length > 0 %}
                            <div class="error-message">
                                {% for error in form.prenom.vars.errors %}
                                    <span class="error">{{ error.message }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            <span></span>
                        {% endif %}

                        {{ form_label(form.telephone) }}
                        {{ form_widget(form.telephone) }}
                        {% if form.telephone.vars.errors|length > 0 %}
                            <div class="error-message">
                                {% for error in form.telephone.vars.errors %}
                                    <span class="error">{{ error.message }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            <span></span>
                        {% endif %}

                        {{ form_label(form.campus) }}
                        {{ form_widget(form.campus) }}
                        <span></span>

                        {{ form_label(form.password) }}
                        {{ form_widget(form.password) }}
                        {% if form.password.vars.errors|length > 0 %}
                            <div class="error-message">
                                {% for error in form.password.vars.errors %}
                                    <span class="error">{{ error.message }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            <span></span>
                        {% endif %}
                        {{ form_label(form.confirmation) }}
                        {{ form_widget(form.confirmation) }}
                        {% if form.confirmation.vars.errors|length > 0 %}
                            <div class="error-message">
                                {% for error in form.confirmation.vars.errors %}
                                    <span class="error">{{ error.message }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {% if (errors is not empty) %}
                                <p class='error'>{{ errors[0] }}</p>
                            {% endif %}

                        {% endif %}

                        <button type="submit" class="btn">Modifier</button>
                    </div>
                </div>
            {{ form_end(form) }}
        </section>
    </div>
{% endblock %}

